---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not Found" description="????">
  <section>
    <h1>404</h1>
    <p>Return <a href='/'>home</a>.</p>
  </section>

  <hr />
  <section>
    <br>
    <p>
      "<a href='/topsecret'>Not all who wander are lost</a>."
    </p>
  </section>
</BaseLayout>
