---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | William Li" description="About me">
  <section>
    <h1>About</h1>
    <p>
      I'm a student at UC Berkeley studying EECS and EMS. Currently, I'm learning and gaining relevant experience in machine learning, data science, and software development.
    </p>
    <p>
      I was born in the San Francisco Bay Area and have lived here my whole life. I'm drawn to tech because the ability to create what I want still feels magical to me. In previous roles I've contributed to complex agentic systems, data pipelines, and worked with super competent people on fast-paced projects.
    </p>
    <p>
      Apart from my technical background, you can often find me hiking or biking around the Bay Area, practicing piano, eating lots of food, and listening to music (classical, edm, shoegaze, mandopop, kpop). My favorite activity to do in my downtime is to scroll Instagram reels and Youtube. I also try to think a lot.
    </p>
  </section>

  <section class="compact">
    <h2>Skills</h2>
    <p><b>Programming Languages:</b> Python, Java, JavaScript, TypeScript, SQL, HTML/CSS, Scheme</p>
    <p><b>Libraries &amp; Frameworks:</b> NumPy, Pandas, Matplotlib, Seaborn, Scikit-learn, React, Next.js, Flask, FastAPI, Node.js, Bun</p>
    <p><b>Tools &amp; Platforms:</b> Git, GitHub, Docker, VS Code, IntelliJ, Cursor, Claude Code, Vercel, GitHub Actions, PostgreSQL, Figma, Canva</p>
    <p><b>Languages:</b> English, Mandarin, Spanish, Esperanto</p>
  </section>

  <section>
    <h2>Contact me</h2>
    <p>
      <a href="mailto:wi@berkeley.edu">Email</a></li> | 
      <a href="https://linkedin.com/in/williammli" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    </p>
  </section>

  <section>
    <p>
      This site was built using Astro on TypeScript.
    </p>
  </section>

  <hr />
  <section>
    <br>
    <p>
      "Twenty years from now you will be more disappointed by the things you didn't do than by the ones you did. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover."
    </p>
  </section>
</BaseLayout>
