---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="William Li"
  description="hello"
>
  <section>
    <h1>William Li</h1>
    <p>
      I'm a student at UC Berkeley studying Engineering Mathematics and Statistics + Electrical Engineering and Computer Sciences. I'm interested in gaining as much applicable knowledge as possible to various things. Currently this means evaluating frontier LLM model outputs; taking on various opportunities in machine learning, software development, and data science; mountain biking; eating as much good food as I can; creating long Spotify playlists; and playing Minute Cryptic, LinkedIn Zip, and the Wordle daily.
    </p>
    <p>
      I'm always looking out for interesting stuff. If there's an opportunity you think I'd be interested in, contact me using the links below. Or, schedule a meal with me :)
    </p>
  </section>

  <section>
    <h2>You can see more here</h2>
    <ul>
      <li><a href="/experience">Experience</a> | places I've worked at</li>
      <li><a href="/projects">Projects</a> | things I've worked on</li>
      <li><a href="/blog">Blog</a> | miscellaneous things</li>
      <li><a href="/about">About</a> | more about me</li>
    </ul>
  </section>

  <section>
    <h2>Where you can find me</h2>
    <ul>
      <li><a href="mailto:wi@berkeley.edu">Email</a></li>
      <li><a href="https://linkedin.com/in/williammli">LinkedIn</a></li>
      <li><a href="https://github.com/0ffffff">GitHub</a></li>
      <li>at li's knife cut noodles</li>
    </ul>
  </section>

  <hr />
  <section>
    <br>
    <p>
      "I always go more boldly forward when I know nothing of what lies ahead. After all, the worst you can do is die, and you've got to die some time."
    </p>
  </section>

</BaseLayout>
